



/* HEADER */
.acorn{
     width: 4vw;
  }

.tree{
  width: 4vw;
}

/* CONTACT */




/* BANNER */
.bannertext{
  text-align: center;
  background-color: #e3af71;
}

/* LOGIN FORM */

.logincard{
  text-align: center;
  justify-content: center;
  
  
}

.loginform{
  text-align: center;
  justify-content: center;
  padding: 30px;
  background-color: #CAB2F8;
}

.loginbtn{
  padding: 5px;
}

/* FOOTER */

.footer{
  text-align: center;
  background-color: #a2c6bb;
  justify-content: center;
}






















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
